# Quarto outputs
*.html
*_files/
.quarto/

# R files
.Rproj.user
.Rhistory
.RData
.Ruserdata


# Temporary files
*~
.DS_Store
*.swp
*.swo

# Installation files
*.deb
*.rpm
*.pkg

# Output directories
_site/
_book/
_freeze/
.positai
